# python3.10

# API / server

fastapi==0.115.6
fastapi-utils==0.8.0
pydantic==2.10.3
gunicorn==23.0.0
uvicorn==0.32.1
httpx==0.28.1
tenacity==8.2.3

fastapi
fastapi-utils
pydantic
gunicorn
uvicorn
httpx
tenacity

# General
numpy==1.24.4
pandas==2.0.3
pyarrow==17.0.0
transformers==4.46.3
torch==2.4.1
torchaudio==2.4.1

# app-specific
python-multipart==0.0.19
pydub==0.25.1

# [code-dev] formatting
black==23.11.0

# facilitate debugging
ipython==8.12.3
ipykernel==6.29.5
# for profiling
# yappi

# dataset management & processing
datasets[audio]==3.1.0
audiosegment==0.23.0
# inflect==7.4.0

# hyperparameter tuning & experiment tracking
optuna==4.1.0
torch-tb-profiler==0.4.3
optuna-integration[tensorboard]==4.1.0
# mlflow==2.17.2

# [KIV] training
# bitsandbytes==0.45.0

# evaluation
evaluate==0.4.3
jiwer==3.0.5

# # post-analysis
# speechbrain==1.0.2

# task: hotwords detection
huggingface_hub==0.23.5
sentence-transformers==2.2.2
InstructorEmbedding==1.0.1
regex==2024.11.6
